header
    display: flex
    justify-content: space-between
    padding: 1.2rem
    position: fixed
    top: 0
    width: 100%

    img
        max-width: 260px
        height: auto
    a
        font-size: 20px

* 
    color: #212121
    font-weight: 600