@import './../../styles/main.sass'

footer
    display: flex
    justify-content: space-between
    position: fixed
    bottom: 0
    width: 100%
    padding: 1.2rem
    align-items: flex-end

    .l-footer-content

        .info
            max-width: 16rem
            line-height: 1.5
            font-size: 1.1rem
        
        .credits 
            font-weight: 400
            font-size: 0.8rem
            margin-top: 0.4rem

            a
                font-weight: 400

        .policy 
            margin-top: 2rem
            display: block

.bookmarks
            li 
                font-weight: 400

                &:hover
                    color: #4b4b4b
                    cursor: pointer